.header{
    font-family: 'Times New Roman', Times, serif;
}

.signup {
    position: fixed;
    
    display: block;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.signin {
    position: fixed;
    
    display: block;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.error{
    font-size:small;
    color: red;
}
.slidebutton{
    display: inline-block;
}
.slidebutton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.eye{
    top: 60%; 
    right: 15px; 
    transform: translateY(-50%); 
    cursor: pointer;
}
.signin, .signup {
    padding: 15px;
    width: 90%;
}
